@import "variables.css";

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 182px 180px min-content 182px;
  grid-auto-rows: min-content;
  grid-template-areas:
    "header header header"
    "left-top middle right"
    "left-bottom middle right"
    "footer footer right";
}

.header {
  background-color: var(--header-bg-color);
  grid-area: header;
}

.left-top {
  background-color: var(--left-top-bg-color);
  grid-area: left-top;
  padding: 3%;
}

.left-bottom {
  background-color: var(--left-bottom-bg-color);
  grid-area: left-bottom;
}

.middle {
  background-color: var(--middle-bg-color);
  grid-area: middle;
}

.right {
  background-color: var(--right-bg-color);
  grid-area: right;
}


.footer {
  background-color: var(--footer-bg-color);
  grid-area: footer;
}

.X {
  position: relative;
  top: -60%;
  left: 80%;
  width: 150px;
  height: 45px;
  background-color: var(--white-elements);
  border-radius: 10px;
}

.Y {
  position: relative;
  top: -50%;
  left: 10%;
  width: 150px;
  height: 45px;
  background-color: var(--white-elements);
  border-radius: 10px;
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(152, 198, 216);
  position: relative;
  top: 20%;
  left: 17%;
}

.Title:hover {
  left: 16%;
  font-size: 25px;
}

.footer p {
  margin-left: 40%;
}

.text_footer {
  margin-left: 34%;
}

.header p {
  margin-right: 25%;
}

.image-leftside {
  margin-left: 35%;
  max-width: 80px;
}

.left-bottom p {
  margin-left: 8%;
}

.container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 5%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
}

.menu {
  margin: auto;
  margin-top: 15%;
  padding: 10px;
  background: var(--white-elements);
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 12px 0 0 0px;
}

.menu a {
  text-align: center;
  display: block;
  font-size: 13px;
  color:  var(--menu-main-color);
  padding: 5px;
  position: relative;
  transition: 0.3s linear;
}

.menu a:hover {
  border-radius: 5px;
  background-color: var(--menu-main-color);
  color: var(--white-elements);
}

.menu a:after {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  color: var(--white-elements);
  transition: 0.1s linear;
}


